**/bin/
**/obj/

.git/
.gitignore

.vs/
.vscode/

node_modules/

.env
.env.*
!.env.example

**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.json

Dockerfile
docker-compose*.yml